<main class="main">

    <section class="search-form">
        <form class="form">
            <input
            class="input js-input-search"
            type="text"
            placeholder="Escribe aquí tu cóctel"
            />
            <button class="button-search js-button-search">Buscar</button>
            <button class="button-reset js-button-reset">Reset</button>
            <button class="button-reset js-button-log">LOG</button>
        </form>
    </section>

    <section class="search-data">
        <h2>Lista</h2>
        <ul class="js-search-list">
            <li class="js-list-item"></li>
        </ul>
    </section>

    <section class="fav-data">
        <h2>Cócteles Favoritos</h2>
        <ul class="js-fav-list">
            <li class="fav-item"></li>
        </ul>
    </section>

</main>